<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boo</title>
</head>
<body>
<h2>From public</h2>

<a href="http://localhost:8080/adminrest/student">All Students</a>
<p>
    <a href="http://localhost:8080/otherPage.html">Other Page</a>
<p>
    <a href="http://localhost:8080/adminrest/student/whoiscalling">Who is calling?</a>
<p>
    <a href="http://localhost:8080/adminPage.html">Super Secret Admin Page</a>
<p>
    <a href="http://localhost:8080/jpql">Run Jpql Queries</a>
<p>
    <a href="/logout">Logout</a>
</body>
</html>